:root {
    /**
   * colors

   */
    --rich-black-fogra-29: hsl(225, 25%, 9%);
    --rich-black-fogra-39: hsl(170, 21%, 5%);
    --raisin-black: hsl(228, 13%, 15%);
    --eerie-black: hsl(207, 19%, 11%);
    --light-gray: hsl(0, 3%, 80%);
    --gunmetal-1: hsl(229, 15%, 21%);
    --gunmetal-2: hsl(216, 22%, 18%);
    --gainsboro: hsl(0, 7%, 88%);
    --citrine: hsl(57, 97%, 45%);
    --xiketic: hsl(253, 21%, 13%);
    --gray-x: hsl(0, 0%, 74%);
    --white: hsl(0, 100%, 100%);
    --black: hsl(0, 0%, 0%);
    --jet: hsl(0, 0%, 20%);
    /**
   * typography
   */
    --ff-poppins: 'Poppins', sans-serif;
    --fs-1: 36px;
    --fs-2: 32px;
    --fs-3: 30px;
    --fs-4: 24px;
    --fs-5: 20px;
    --fs-6: 18px;
    --fs-7: 16px;
    --fs-8: 10px;
    --fs-9: 18px;
    --fs-10: 13px;
    --fs-11: 12px;
    --fs-12: 11px;
    --fs-20: 20px;
    --fw-500: 500;
    --fw-700: 700;
    /**
   * transition
   */
    --transition-1: 0.15s ease;
    --transition-2: 0.25s ease-in;
    /**
   * spacing
   */
    --section-padding: 100px;
}


/*-----------------------------------*\
 * #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a,
img,
span,
input,
button,
ion-icon {
    display: block;
}

input {
    font: inherit;
    width: 100%;
    border: none;
}

select,
button {
    font: inherit;
    background: none;
    border: none;
    cursor: pointer;
}

html {
    font-family: var(--ff-poppins);
    scroll-behavior: smooth;
}

body {
    background: var(--eerie-black);
}

body.active {
    overflow: hidden;
}


/*-----------------------------------*\
 * #REUSED STYLE
\*-----------------------------------*/

.container {
    padding-inline: 15px;
}


/**
 * TITLES & SUBTITLES
 */

.h1,
.h2,
.h3 {
    color: var(--white);
    line-height: 1.2;
}

.h1 {
    font-size: var(--fs-1);
}

.h2 {
    font-size: var(--fs-2);
}

.h3 {
    font-size: var(--fs-6);
}

.section-subtitle {
    color: var(--citrine);
    font-size: var(--fs-11);
    font-weight: var(--fw-500);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-align: center;
}

.section-title {
    text-align: center;
}


/**
 * BUTTONS
 */

.btn {
    color: var(--white);
    font-size: var(--fs-11);
    font-weight: var(--fw-700);
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 16px 30px;
    border: 2px solid var(--citrine);
    border-radius: 50px;
    transition: var(--transition-1);
}

.btn>ion-icon {
    font-size: 18px;
}

.btn-primary {
    background: var(--rich-black-fogra-29);
}

.btn-primary:is(:hover, :focus) {
    background: var(--citrine);
    color: var(--xiketic);
}


/*-----------------------------------*\
 * #HEADER
\*-----------------------------------*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-block: 25px;
    transition: var(--transition-2);
    z-index: 4;
}

.header.active {
    background: var(--eerie-black);
    padding-block: 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-actions {
    display: none;
}

.menu-open-btn {
    color: var(--white);
    font-size: 40px;
}

.navbar {
    position: fixed;
    top: 0;
    right: -300px;
    background: var(--eerie-black);
    width: 100%;
    max-width: 300px;
    height: 100%;
    box-shadow: -1px 0 3px hsl(0, 0%, 0%, 0.2);
    transition: 0.15s ease-in;
    visibility: hidden;
    z-index: 3;
}

.navbar.active {
    right: 0;
    visibility: visible;
    transition: 0.25s ease-out;
}

.navbar-top {
    padding: 30px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-close-btn {
    color: var(--white);
    font-size: 25px;
    padding: 5px;
}

.menu-close-btn ion-icon {
    --ionicon-stroke-width: 80px;
}

.navbar-list {
    border-top: 1px solid hsla(0, 0%, 100%, 0.1);
    margin-bottom: 30px;
}

.navbar-link {
    color: var(--white);
    font-size: var(--fs-8);
    font-weight: var(--fw-500);
    padding: 10px 25px;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
    transition: var(--transition-1);
}

.navbar-link:is(:hover, :focus) {
    color: var(--citrine);
}

.navbar-social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.navbar-social-link {
    font-size: 20px;
    color: var(--white);
    transition: var(--transition-1);
}

.navbar-social-link:is(:hover, :focus) {
    color: var(--citrine);
}

.overlay {
    position: fixed;
    inset: 0;
    background: hsla(204, 18%, 11%, 0.8);
    opacity: 0;
    pointer-events: none;
    z-index: 1;
    transition: var(--transition-2);
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}


/*-----------------------------------*\
 * #HERO
\*-----------------------------------*/

.hero {
    background: url("../images/bg-image.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 750px;
    height: 100vh;
    max-height: 1000px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-block: var(--section-padding);
}

.hero-content {
    margin-top: 60px;
}

.hero-subtitle {
    color: var(--citrine);
    font-size: var(--fs-4);
    font-weight: var(--fw-700);
    margin-bottom: 10px;
}

.genre {
    cursor: default;
}

.hero-sub {
    text-decoration: none;
}

.hero-title {
    margin-bottom: 30px;
}

.hero-title>strong {
    color: var(--citrine);
}


/*-----------------------------------*\
 * #UPCOMING
\*-----------------------------------*/

.upcoming {
    background: url("../images/upcoming-bg.png") no-repeat;
    background-size: cover;
    background-position: center;
    padding-block: var(--section-padding);
}

.upcoming .flex-wrapper {
    margin-bottom: 50px;
}

.upcoming .section-title {
    margin-bottom: 30px;
}

.filter-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.upcoming .filter-btn {
    color: var(--white);
    background: var(--raisin-black);
    font-size: var(--fs-11);
    font-weight: var(--fw-500);
    border: 2px solid var(--gunmetal-1);
    padding: 12px 26px;
    border-radius: 50px;
}

.upcoming .filter-btn:focus {
    border-color: var(--citrine);
}

.upcoming .movies-list>li {
    min-width: 100%;
    scroll-snap-align: start;
}


/*-----------------------------------*\
 * #SERVICE
\*-----------------------------------*/

.service {
    background: url("../images/service-bg.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    padding-block: var(--section-padding);
}

.service-banner {
    position: relative;
    margin-bottom: 50px;
    max-width: max-content;
}

.service-banner img {
    width: 100%;
}

.service-btn {
    position: absolute;
    bottom: 0;
    right: 86px;
    background: var(--citrine);
    color: var(--rich-black-fogra-29);
    font-size: var(--fs-11);
    text-transform: uppercase;
    font-weight: var(--fw-500);
    letter-spacing: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    transform: rotate(0.25turn);
    transform-origin: bottom right;
    padding: 28px 35px;
    border-radius: 6px;
}

.service-btn ion-icon {
    font-size: 30px;
    transform: rotate(-0.25turn);
}

.service-subtitle {
    position: relative;
    color: var(--gainsboro);
    font-size: var(--fs-20);
    font-weight: var(--fw-500);
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-left: 50px;
    margin-bottom: 10px;
}

.service-subtitle::before {
    content: "";
    position: absolute;
    top: 14px;
    left: 0;
    width: 40px;
    height: 3px;
    background: var(--citrine);
}

.service-title {
    margin-bottom: 20px;
}

.service-text,
.service-card .card-text {
    color: var(--gray-x);
    font-size: var(--fs-9);
    font-weight: var(--fw-500);
    line-height: 1.8;
}

.service-text {
    margin-bottom: 40px;
}

.service-list>li:first-child {
    padding-bottom: 20px;
    border-bottom: 1px dashed hsla(0, 0%, 100%, 0.1);
    margin-bottom: 30px;
}

.service-card .card-icon {
    color: var(--white);
    width: 85px;
    height: 85px;
    display: grid;
    place-items: center;
    font-size: 40px;
    border-radius: 50%;
    outline: 1px dashed var(--citrine);
    outline-offset: 5px;
    margin: 5px;
    margin-bottom: 20px;
    transition: var(--transition-2);
}

.service-card:hover .card-icon {
    background: var(--citrine);
}

.service-card .card-title {
    margin-bottom: 10px;
}


/*-----------------------------------*\
 * #TOP RATED
\*-----------------------------------*/

.top-rated {
    background: url("../images/top-rated-bg.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    padding-block: var(--section-padding);
}

.top-rated .section-title {
    margin-bottom: 50px;
}

.top-rated .filter-list {
    gap: 15px;
    margin-bottom: 50px;
}

.top-rated .filter-btn {
    position: relative;
    background: var(--rich-black-fogra-39);
    color: var(--light-gray);
    font-size: var(--fs-10);
    font-weight: var(--fw-700);
    text-transform: uppercase;
    padding: 17px 25px;
    border-radius: 4px;
    box-shadow: inset 0 3px 7px hsla(0, 0%, 0%, 0.8);
}

.top-rated .filter-btn:focus {
    color: var(--citrine);
    text-shadow: 0 3px 25px hsla(57, 97%, 45%, 0.5);
}

.top-rated .filter-btn:focus::before,
.top-rated .filter-btn:focus::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: var(--citrine);
    width: 2px;
    height: 15px;
}

.top-rated .filter-btn:focus::before {
    left: 0;
}

.top-rated .filter-btn:focus::after {
    right: 0;
}


/*-----------------------------------*\
 * #TV SEREIS
\*-----------------------------------*/

.tv-series {
    background: url("../images/tv-series-bg.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    padding-block: var(--section-padding);
}

.tv-series .section-title {
    margin-bottom: 50px;
}


/*-----------------------------------*\
 * #CTA
\*-----------------------------------*/

.cta {
    background: url("../images/cta-bg.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-block: 50px;
}

.cta .title-wrapper {
    margin-bottom: 25px;
}

.cta-title {
    color: var(--eerie-black);
    font-size: var(--fs-3);
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 5px;
}

.cta-text {
    color: var(--eerie-black);
    font-size: var(--fs-9);
    font-weight: var(--fw-500);
    line-height: 1.8;
}

.cta .email-field {
    color: var(--eerie-black);
    font-size: var(--fs-9);
    padding: 18px 32px;
    border-radius: 4px;
    box-shadow: 0 3px 4px hsla(0, 0%, 0%, 0.2);
    margin-bottom: 15px;
}

.cta-form-btn {
    background: var(--eerie-black);
    color: var(--citrine);
    font-size: var(--fs-9);
    font-weight: var(--fw-700);
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 2px solid var(--eerie-black);
    padding: 15px 34px;
    border-radius: 4px;
    margin-inline: auto;
    transition: var(--transition-1);
}

.cta-form-btn:is(:hover,
 :focus) {
    background: var(--citrine);
    color: var(--eerie-black);
}


/*-----------------------------------*\
 * #MEDIA QUERIES
\*-----------------------------------*/


/**
 * responsive for large than 550px screen
 */

@media (max-width: 550px) {
    /**
   * CUSTOM PROPERTY
   */
     :root {
        --fs-1: 42px;
    }
}

@media (max-width:480px) {
    .video-player {
        width: fit-content;
        height: 250px;
        background-color: #000000;
        margin-left: -160px;
        overflow: hidden;
    }
}


/**
 * responsive for large than 768px screen
 */

@media (min-width: 768px) {
    /**
   * CUSTOM PROPERTY
   */
     :root {
        /**
     * typography
     */
        --fs-2: 36px;
    }
    /**
   * REUSED STYLE
   */
    .container {
        max-width: 720px;
    }
    /**
   * HEADER
   */
    .header .container {
        gap: 30px;
    }
    .header-actions {
        display: flex;
        margin-left: auto;
        align-items: center;
        gap: 35px;
    }
    .header-actions .btn-primary {
        display: none;
    }
    .search-btn {
        position: relative;
        color: var(--white);
    }
    .search-btn ion-icon {
        --ionicon-stroke-width: 80px;
    }
    .search-btn::after {
        content: "";
        position: absolute;
        top: 1px;
        right: -20px;
        background: hsla(0, 0%, 100%, 0.1);
        width: 2px;
        height: 14px;
    }
    .lang-wrapper {
        display: flex;
        align-items: center;
        gap: 5px;
    }
    .lang-wrapper label {
        color: var(--citrine);
        font-size: 20px;
    }
    .lang-wrapper select {
        color: var(--white);
        font-size: var(--fs-9);
        font-weight: var(--fw-700);
    }
    .lang-wrapper option {
        color: var(--black);
    }
    /**
   * HERO
   */
    .hero-content {
        margin-top: 90px;
    }
    /**
   * SERVICE
   */
    .service-btn {
        right: -20px;
        padding: 40px 50px;
    }
    .service-content {
        padding-inline: 40px;
    }
    /**
   * CTA
   */
    .cta-form {
        position: relative;
        max-width: 530px;
        margin-inline: auto;
    }
    .cta .email-field {
        margin-bottom: 0;
    }
    .cta-form-btn {
        position: absolute;
        top: 2px;
        right: 2px;
        bottom: 2px;
    }
    /**
   * FOOTER
   */
    .footer-brand-wrapper .logo {
        margin: 0;
    }
    .footer-brand-wrapper,
    .quicklink-wrapper,
    .footer-bottom .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .quicklink-list {
        margin-bottom: 0;
    }
    .copyright {
        margin-bottom: 0;
    }
    .footer-bottom-img {
        margin-inline: 0;
    }
    /**
   * MOVIE DETAIL
   */
    .detail-subtitle {
        --fs-5: 26px;
    }
    .detail-title {
        --fs-1: 50px;
    }
    a.active {
        color: yellow;
    }
}


/**
 * responsive for large than 992px screen
 */

@media (min-width: 992px) {
    /**
   * REUSED STYLE
   */
    .container {
        max-width: 960px;
    }
    /* MOVIE CARD */
    .movies-list {
        grid-template-columns: repeat(3, 1fr);
    }
    /**
   * HEADER
   */
    a.active {
        color: yellow;
    }
    .header.active {
        padding-block: 5px;
    }
    .menu-open-btn,
    .navbar-top,
    .navbar-social-list {
        display: none;
    }
    .navbar {
        all: unset;
        margin-left: auto;
    }
    .header-actions {
        order: 1;
        margin-left: 0;
    }
    .navbar-list {
        all: unset;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .navbar-link {
        border-bottom: none;
        font-size: var(--fs-7);
        font-weight: 600;
        text-transform: uppercase;
        padding: 30px 15px;
    }
    .overlay {
        display: none;
    }
    /**
   * HERO
   */
    .hero {
        background-position: right;
    }
    .hero .container {
        width: 950px;
    }
    .hero-content {
        margin-top: 100px;
        max-width: 600px;
    }
    /**
   * UPCOMING
   */
    .upcoming .flex-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .upcoming :is(.section-subtitle,
    .section-title) {
        text-align: left;
    }
    .upcoming .section-title {
        margin-bottom: 0;
    }
    .upcoming .movies-list>li {
        min-width: calc(33.33% - 20px);
    }
    /**
   * SERVICE
   */
    .service .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 70px;
    }
    .service-content {
        padding-inline: 0;
        width: calc(100% - 470px);
    }
    .service-banner {
        margin-bottom: 0;
    }
    .service-btn {
        right: 111px;
    }
    /**
   * CTA
   */
    .cta {
        text-align: left;
    }
    .cta .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .cta .title-wrapper {
        margin-bottom: 0;
        width: 100%;
    }
    .cta-form {
        margin-inline: 0;
        max-width: unset;
        width: 100%;
    }
    /**
   * MOVIE DETAIL
   */
    .movie-detail {
        padding-bottom: 200px;
    }
    .movie-detail .container {
        position: relative;
        display: flex;
        align-items: center;
        gap: 50px;
    }
    .movie-detail-banner,
    .details-actions {
        margin: 0;
    }
    .download-btn {
        position: absolute;
        left: 15px;
        bottom: -80px;
    }
}


/**
 * responsive for large than 1200px screen
 */

@media (min-width: 1200px) {
    /**
   * CUSTOM PROPERTY
   */
     :root {
        /**
     * typography
     */
        --fs-1: 60px;
        --fs-4: 26px;
    }
    /**
   * REUSED STYLE
   */
    .container {
        max-width: 1320px;
    }
    /* MOVIE CARD */
    .movies-list {
        grid-template-columns: repeat(4, 1fr);
    }
    /**
   * HEADER
   */
    .navbar {
        margin-inline: auto;
    }
    .header-actions .btn-primary {
        display: block;
        --fs-11: 14px;
        padding: 10px 35px;
        letter-spacing: 1px;
    }
    /**
   * HERO
   */
    .hero .container {
        width: 1320px;
    }
    /**
   * UPCOMING
   */
    .upcoming .movies-list>li {
        min-width: calc(25% - 22.5px);
    }
    /**
   * SERVICE
   */
    .service-content {
        width: calc(100% - 700px);
    }
    .service-btn {
        right: -20px;
    }
    .service-list,
    .service-title {
        max-width: 480px;
    }
    /**
   * CTA
   */
    .cta .container {
        max-width: 1150px;
    }
    /**
   * MOVIE DETAIL
   */
    .movie-detail {
        padding-bottom: var(--section-padding);
    }
    .movie-detail-content {
        max-width: 620px;
    }
    .detail-title {
        --fs-1: 60px;
    }
    .download-btn {
        left: auto;
        right: 15px;
        bottom: 0;
        transform: rotate(0.25turn) translateY(100%);
        transform-origin: bottom right;
        padding: 40px 50px;
    }
    .download-btn ion-icon {
        font-size: 30px;
        transform: rotate(-0.25turn);
    }
}


/* 
****************MOVIE PLAYER***************
*/

#wrapper {
    text-align: center;
    margin: 200px;
}

#wrapper iframe {
    display: inline-block;
}


/* 
********LOADING animation***********
*/

body {
    overflow: hidden;
}


/* Preloader */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #171d21;
    /* change if the mask should have another color then white */
    z-index: 99;
    /* makes sure it stays on top */
}

#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    /* centers the loading animation horizontally one the screen */
    top: 50%;
    /* centers the loading animation vertically one the screen */
    background-image: url(/movies/assets/images/pre-loader.svg);
    /* path to your loading animation */
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
    /* is width and height divided by two */
}
